<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 수정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>사용자 수정</h1>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button">수정 완료</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>