<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    {% load static %} <!--장고에서 static 태그를 로드 css 파일 불러오는데 사용-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>로그인</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-button">로그인</button>
            </form>
        </div>
    </div>
</body>
</html>