<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메일 상세보기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>메일 상세보기</h1>
            <a href="{% url 'mail:mail_list' %}" class="button">메일 목록</a>
        </div>
    </header>
    <main>
        <div class="main-container" style="max-width: 600px; margin: 0 auto;">
            <h2>제목: {{ mail.subject }}</h2>
            <p><strong>보낸 사람:</strong> {{ mail.sender }}</p>
            <p><strong>받는 사람:</strong> {{ mail.recipient }}</p>
            <p><strong>내용:</strong> {{ mail.body }}</p>
            {% if mail.attachments.all %}
                <h3>첨부파일:</h3>
                <ul>
                    {% for attachment in mail.attachments.all %}
                        <li><a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
</body>
</html>
